<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :task_name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :task_date %>
  </div>

  <div class="field">
    <%= form.label :mark %>
    <%= form.select :mark, Task.marks.map {|mark| [mark[0].titleize, mark[0]]}, id: :task_mark %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.where(user: current_user).order(:name), :id, :name, include_blank: true, id: :task_category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
