<%= form_with(model: task, local: true, id: "task-form") do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-sm-2 col-form-label" %>
    <%= form.text_field :name, id: :task_name, class: "form-control col-sm-10", autofocus: true %>
  </div>

  <div class="form-group row">
    <%= form.label :date, class: "col-sm-2 col-form-label" %>
    <%# form.date_select :date, id: :task_date, class: "datepicker" %>
    <%= form.text_field :date, class: "form-control col-sm-10 datepicker", :value=>"" %>
  </div>

  <div class="form-group row">
    <%= form.label :mark, class: "col-sm-2 col-form-label" %>
    <%= form.select :mark, Task.marks.map {|mark| [mark[0].titleize, mark[0]]}, {}, { id: :task_mark, class: "form-control col-sm-10 togglebutton" } %>
  </div>

  <div class="form-group row">
    <%= form.label :category_id, class: "col-sm-2 col-form-label" %>
    <%= form.collection_select :category_id, Category.where(user: current_user).order(:name), :id, :name, {}, { id: :task_category_id, selected: session[:category_id], class: "form-control col-sm-10 togglebutton" } %>
  </div>

  <div class="actions row">
    <div class="col-sm-5"></div>
    <%= form.submit "Create".html_safe, class: "btn btn-primary col-sm-2" %>
    <div class="col-sm-5"></div>
  </div>
<% end %>
