<div class="card" id="<%= item.id %>">
  <div class="card-header" id="heading-<%= item.id %>">
    <div class="row">
      <div class="col-sm-9">
        <span>
          <% if item.class.name == "Task" %>
            <% if item.not_marked? %>
              <i class="fa fa-square-o fa-fw" data-action="mark-done" data-item-id="<%= item.id %>"></i>
            <% elsif item.done? %>
              <i class="fa fa-check-square-o fa-fw" data-action="mark-nothing" data-item-id="<%= item.id %>"></i>
            <% end %>
          <% elsif item.class.name == "Event" %>
            <i class="fa fa-circle-o fa-fw"></i>
          <% elsif item.class.name == "Note" %>
            <i class="fa fa-minus fa-fw"></i>
          <% end %>
        </span>
        <a data-toggle="collapse" data-target="#collapse-<%= item.id %>" aria-expanded="true" aria-controls="collapse-<%= item.id %>">
          <%= item.name %>
        </a>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>

  <div id="collapse-<%= item.id %>" class="collapse" aria-labelledby="heading-<%= item.id %>" data-parent="#cards">
    <div class="card-body">
      Created: <%= item.created_at %>
    </div>
  </div>
</div>
