<div class="card" id="<%= item.id %>">
  <div class="card-header" id="heading-<%= item.id %>">
    <div class="row">
      <div class="col-sm-10">
        <span>
          <% if item.class.name == "Task" %>
            <% if item.not_marked? %>
              <i class="fa fa-square-o fa-fw" data-action="mark-done" data-item-id="<%= item.id %>"></i>
            <% elsif item.done? %>
              <i class="fa fa-check-square-o fa-fw" data-action="mark-nothing" data-item-id="<%= item.id %>"></i>
            <% elsif item.rescheduled? %>
              <i class="fa fa-chevron-right fa-fw" data-action="mark-rescheduled" data-item-id="<%= item.id %>"></i>
            <% elsif item.progressed? %>
              <i class="fa fa-step-forward fa-fw" data-action="mark-progressed" data-item-id="<%= item.id %>"></i>
            <% elsif item.cancelled? %>
              <i class="fa fa-times fa-fw" data-action="mark-cancelled" data-item-id="<%= item.id %>"></i>
            <% end %>
          <% elsif item.class.name == "Event" %>
            <i class="fa fa-circle-o fa-fw"></i>
          <% elsif item.class.name == "Note" %>
            <i class="fa fa-minus fa-fw"></i>
          <% end %>
        </span>
        <%= render_markdown(item.name) %>
        <%= link_to "<i class='fa fa-fw fa-tags'></i> #{item.category.name}".html_safe, category_path(item.category), class: "badge badge-pill badge-light" %>
      </div>
      <div class="col-sm-1">
        <% if item.date.nil? %>
        <a class="" data-action="schedule" data-item-id="<%= item.id %>" data-date="<%= Date.today %>">
          <i class="fa fa-fw fa-calendar"></i>
        </a>
        <% end %>
      </div>
      <div class="col-sm-1">
        <a data-toggle="collapse" data-target="#collapse-<%= item.id %>" aria-expanded="true" aria-controls="collapse-<%= item.id %>">
          <i class="fa fa-fw fa-bars"></i>
        </a>
      </div>
    </div>
  </div>

  <div id="collapse-<%= item.id %>" class="collapse" aria-labelledby="heading-<%= item.id %>" data-parent="#cards">
    <div class="card-body">
      Created: <%= item.created_at %>
      <br><br>
      <% if item.has_attribute? "mark" %>
      Status: <b><%= item.mark.titleize %></b> |
        <% if ! item.not_marked? %>
        <i class="fa fa-square-o fa-fw" data-action="mark-nothing" data-item-id="<%= item.id %>"></i>
        <% end %>
        <% if ! item.done? %>
        <i class="fa fa-check fa-fw" data-action="mark-done" data-item-id="<%= item.id %>"></i>
        <% end %>
        <% if ! item.rescheduled? %>
        <i class="fa fa-chevron-right fa-fw" data-action="mark-rescheduled" data-item-id="<%= item.id %>"></i>
        <% end %>
        <% if ! item.progressed? %>
        <i class="fa fa-step-forward fa-fw" data-action="mark-progressed" data-item-id="<%= item.id %>"></i>
        <% end %>
        <% if ! item.cancelled? %>
        <i class="fa fa-times fa-fw" data-action="mark-cancelled" data-item-id="<%= item.id %>"></i>
        <% end %>
      <% else %>
      Status: <b>Active</b>
      <% end %>
      <br><br>
      <% if item.class.name == "Task" %>
      <%= link_to "Edit", edit_task_path(item) %>
      <% elsif item.class.name == "Event" %>
      <%= link_to "Edit", edit_event_path(item) %>
      <% elsif item.class.name == "Note" %>
      <%= link_to "Edit", edit_note_path(item) %>
      <% end %>
    </div>
  </div>
</div>
